body{
    font-family: 'Wix Madefor Display', sans-serif;
}
#profile-pic{
    border-radius: 50%;
}
ul{
    list-style: none;
    padding: 0;
}
.jumbotron{
    background-color: #AFD3E2;
}
h1{
   color: #146C94;
}
h2{
    color: #146C94;
 }



